@import url(base.css);

:root {
    --spacing: 0.5rem;
}

body {
    height: 100vh;
    margin: 0;
}

button {
    padding: var(--spacing);
}

h1,
h2 {
    margin: 0;
    padding: var(--spacing);
}

input {
    padding: var(--spacing);
}

main > article {
    display: grid;
    gap: var(--spacing);
    padding: var(--spacing);
}

table {
    width: 100%;
}

td,
th {
    padding: var(--spacing);
}

#cooldowns,
#statistics {
    background-color: #222;
    border-radius: 0.25rem;
    overflow: hidden;
}

#cooldowns > header:first-child,
#statistics > header:first-child {
    background-color: #333;
}

#controls {
    background-color: #222;
    display: flex;
    gap: var(--spacing);
    padding: var(--spacing);
}

#controls label {
    display: none;
}

#statistics td {
    text-align: end;
}

#statistics th {
    max-width: 4ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.control {
    display: grid;
    gap: var(--spacing);
}